---
---
<div class="logo-container">
  <img src="https://i.ibb.co/ZW3cV2z/image01.jpg" alt="PureAir Solutions Logo" class="logo-image" />
</div>

<style>
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo-image {
    height: 40px;
    width: auto;
    border-radius: 4px;
  }

  @media (max-width: 768px) {
    .logo-image {
      height: 32px;
    }
  }
</style>